export FLASK_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export FLASK_ENV=development
export STORE_LOCALE=th_TH
export STORE_CURRENCY=THB
export PREFERRED_URL_SCHEME=http
export SERVER_NAME=localhost:5000
export KSHER_API_BASE=https://s[UNIQUE_NAME].vip.ksher.net
export KSHER_API_TOKEN=token1234
export STORE_BASE_URL=https://315c0f6fc742.ngrok.io